.tooltip {
    background: var(--olaris--sidebar) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--olaris--white) !important;
    font-size: var(--olaris--font-small);
    font-weight: 600;
    opacity: 1 !important;
    padding: 1.5rem;
    text-transform: capitalize;
}

.__react_component_tooltip.type-dark {
    &.place-bottom:after {
        border-bottom-color: var(--olaris--sidebar) !important;
    }

    &.place-top:after {
        border-top-color: var(--olaris--sidebar) !important;
    }

    &.place-left:after {
        border-left-color: var(--olaris--sidebar) !important;
    }

    &.place-right:after {
        border-right-color: var(--olaris--sidebar) !important;
    }
}
